<!DOCTYPE HTML>
<html lang="{% if page.language == 'en' %}en{% else %}fi{% endif %}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="{{ site.title }}" property="og:site_name">
    {% if page.title %}
    <title>{{ page.title }} &ndash; {{ site.title }}</title>
    <meta content="{{ page.title }}" property="og:title">
    <meta content="{{ page.title }}" name="twitter:title">
    {% else %}
    <title>{{ site.title }}</title>
    <meta content="{{ site.title }}" property="og:title">
    <meta content="{{ site.title }}" name="twitter:title">
    {% endif %}

    <link rel="stylesheet" href="/css/normalize-2.1.0.css" type="text/css"/>
    <link rel="stylesheet" href="/css/index.css" type="text/css"/>
    <link rel="alternate" type="application/atom+xml" href="/atom.xml" title="Helsinki Windsurfing Club - Ajankohtaista"/>
    {% if page.description %}
    <meta content="{{ page.description }}" name="description">
    <meta content="{{ page.description }}" property="og:description">
    <meta content="{{ page.description }}" name="twitter:description">
    {% else %}
    <meta content="{{ site.description }}" name="description">
    <meta content="{{ site.description }}" property="og:description">
    <meta content="{{ site.description }}" name="twitter:description">
    {% endif %}
    {% if page.language == 'en' %}
    <link rel="alternate" hreflang="fi" href="/" />
    {% else %}
    <link rel="alternate" hreflang="en" href="/english.html" />
    {% endif %}
    <meta name="keywords" content="purjelautailu, windsurfing, helsinki, surfing, suomi"/>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-35364030-1']);
        _gaq.push(['_setDomainName', 'helsinkiwindsurfingclub.fi']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</head>
<body>
<div class="wrapper">
    <header>
        <div class="header-image"></div><div class="header-text"><h1>Helsinki Windsurfing Club ry</h1>
        <h3>Since 1973</h3></div>
    </header>
    <nav>
        <ul>
            <li><a href="/index.html">ajankohtaista</a></li>
            <li><a href="/seura.html">seura</a></li>
            <li><a href="/ranta.html">ranta</a></li>
            <li><a href="/yhteystiedot.html">yhteystiedot</a></li>
            <li><a href="/saannot.html">säännöt</a></li>
            <li><a href="/english.html">in english</a></li>
            <li><a href="https://www.facebook.com/groups/helsinkiwindsurfingclub/"><b>facebook</b>-ryhmä</a></li>
        </ul>
    </nav>