<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
<title>{{ page.title }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="mm_travel2.css" type="text/css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
</head>
<body bgcolor="#C0DFFD">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr bgcolor="#3366CC">
    <td colspan="3" rowspan="2"><img src="otsikko.jpg" alt="Header image" width="260" border="0" /></td>
    <td height="63" colspan="3" id="logo" valign="bottom" align="center">helsinki windsurfing club ry</td>
    <td width="526">&nbsp;</td>
  </tr>

  <tr bgcolor="#3366CC">
    <td height="64" colspan="3" id="tagline" valign="top" align="center">since 1973</td>
	<td width="526">&nbsp;</td>
  </tr>

  <tr>
    <td colspan="7" bgcolor="#003366"><img src="mm_spacer.gif" alt="" width="1" height="1" border="0" /></td>
  </tr>

  <tr bgcolor="#CCFF99">
  	<td colspan="7" id="dateformat" height="25">&nbsp;&nbsp;	</td>
  </tr>
 <tr>
    <td colspan="7" bgcolor="#003366"><img src="mm_spacer.gif" alt="" width="1" height="1" border="0" /></td>
  </tr>

 <tr>
    <td width="165" height="987" valign="top" bgcolor="#E6F3FF">
	<table border="0" cellspacing="0" cellpadding="0" width="165" id="navigation">
        <tr>
          <td width="165">&nbsp;<br />
		 &nbsp;<br /></td>
        </tr>
        <tr>
          <td width="165"><a href="index.html" class="navText">ajankohtaista</a></td>
        </tr>
        <tr>
          <td width="165"><a href="seura.html" class="navText">seura</a></td>
        </tr>
        <tr>
          <td width="165"><a href="ranta.html" class="navText">ranta</a></td>
        </tr>
        <tr>
          <td width="165"><a href="yhteystiedot.html" class="navText">yhteystiedot</a></td>
        </tr>
        <tr>
          <td width="165"><a href="jaseneksi.html" class="navText">jäseneksi</a></td>
        </tr>
        <tr>
          <td width="165"><a href="saannot.html" class="navText">säännöt</a></td>
        </tr>
        <tr>
          <td width="165"><a href="english.html" class="navText">in english</a></td>
        </tr>
        <tr>
            <td width="165"><a href="https://www.facebook.com/groups/helsinkiwindsurfingclub/" class="navText"><b>facebook</b>-ryhmä</a></td>
        </tr>
        <tr>
            <td width="165"><a href="atom.xml" class="navText"><img src="atom.png" width="16px" height="16px"></a></td>
        </tr>
      </table>
 	<br />
  	&nbsp;<br />
  	&nbsp;<br />
  	&nbsp;<br /> 	</td>
    <td width="50"><img src="mm_spacer.gif" alt="" width="50" height="1" border="0" /></td>
    <td colspan="2" valign="top"><img src="mm_spacer.gif" alt="" width="305" height="1" border="0" /><br />
	&nbsp;<br />
	&nbsp;<br />
	<table border="0" cellspacing="0" cellpadding="0" width="305"><tr><td>
        {{ content }}
	</td></tr>

	</table>
	  <br />
  </td>
    <td width="54"><img src="mm_spacer.gif" alt="" width="50" height="1" border="0" /></td>
        <td width="205" valign="top"><br />
		&nbsp;<br />
            <table border="0" cellspacing="0" cellpadding="0" width="190">
                <tr>
                    <td colspan="3" class="subHeader" align="center">extrat</td>
                </tr>

                <tr>
                    <td width="40"><img src="mm_spacer.gif" alt="" width="40" height="1" border="0" /></td>
                    <td width="110" id="sidebar" class="smallText"><br />
                        <p><img src="kyltti.jpg" alt="Image 1" width="100" vspace="6" border="0" /></p>
                        <p>Jokasurfaajan väistämissäännöt<br />
                            <a href="vaistamis.html">Lue &gt;</a></p>
                        <p>Poimintoja vanhoista Pladaskeista.<br />
                            <a href="pladaski.html">Lue &gt;</a></p>
                        <p>Se alkuper&auml;inen resepti.<br />
                            <a href="ateria.html">Lue &gt;</a></p>
                        <br />
                        &nbsp;<br />
                        &nbsp;<br />			</td>
                    <td width="40">&nbsp;</td>
                </tr>
            </table>	</td>
	<td width="526">&nbsp;</td>
  </tr>
  <tr>
    <td width="165">&nbsp;</td>
    <td width="50">&nbsp;</td>
    <td width="61">&nbsp;</td>
    <td width="255">&nbsp;</td>
    <td width="54">&nbsp;</td>
    <td width="205">&nbsp;</td>
	<td width="526">&nbsp;</td>
  </tr>
</table>
</body>
</html>
