<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>{{ page.title }}</title>
<link rel="stylesheet" href="/mm_travel2.css" type="text/css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35364030-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<div class="navigation">
<ul>
<li><a href="/index.html">ajankohtaista</a>
</li>
<li><a href="/seura.html">seura</a>
</li>
<li>
</li>
<li>
</li>
</ul>
</div>
<div id="page-navigation">
<div class="clear">&nbsp;</div>
<div class="left">
{% if page.previous.url %}
<a href="{{page.previous.url}}" title="{{page.previous.title}}">&laquo; {{page.previous.title}}</a>
{% endif %}
</div>
<div class="right">
{% if page.next.url %}
<a href="{{page.next.url}}" title="{{page.next.title}}">{{page.next.title}} &raquo; </a>
{% endif %}
</div>
<div class="clear">&nbsp;</div>
</div>
<div class="content">
<h1>{{ page.title }}</h1>
<div class="post_date">{{ page.date | date: "%-d.%-m.%Y" }}</div>
{{ content }}
</div>
</body>
</html>
